/* Mulish Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
    --primary-color: rgb(255, 84, 0)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}


/* Header */
.header {
    width: 1090px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.nav-logo a {
    text-decoration: none;
}

.nav-title {
    font-size: 32px;
    color: black;
    font-weight: 900;
}

.travel {
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: all 0.3s;
}

.nav-links li:first-child a {
    color: var(--primary-color);
}

.nav-links li:hover a{
    color: var(--primary-color);
}


/* Banner */
.banner {
    width: 1090px;
    margin: 0 auto;
}

.banner-container {
    width: 98%;
    margin: 0 auto;
    height: 80vh;
}

.banner-content {
    background-image:  linear-gradient(200deg, rgb(15, 14, 15),rgba(7, 2, 17, 0) 100%), url('../images/group_13.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 95px 0px;
}

.banner-title {
    color: white;
    font-size: 70px;
    margin-bottom: 10px;
}

.banner-description {
    color: rgb(238, 235, 235);
    width: 65%;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.banner-options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    width: 68%;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.3)
}

.where-go,
.when,
.type {
    background-color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 14px;
    color: gray;
    width: 150px;
    text-align: center;
    
}

.type {
    width: 170px;
}

.when,
.type {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}


.find-now {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 700;
}

.find-now:hover {
    background-color: white;
    color: var(--primary-color);
}











